<h1>Questions</h1>


<% @questions.each  do |question| %>
  <%= link_to question.title, question_path(question) %>
<% end %>


<button class="links left-link"><%= link_to "Add a Question", new_question_path %></button>
