<h1>Questions</h1>


<% @questions.each  do |question| %>

<% end %>


<button class="links left-link"><%= link_to 'New Question', new_question_path, id: "new_link", remote: true %>
</button>

<ul id="questions">
<%= render @questions %>
</ul>
